.icon
    padding: 10px
    padding-left: 0
    color: #000

    &:hover
        color #ffd400

button.icon
    background-color: unset;
    border: unset;
    font-size: 12px;
    outline: unset;

.driver-view
    font-size 10px

    .title
        font-weight bold

.modal-inactive
    .btn-inactive 
        background-color: #fff
        border: 1px solid #000
        color: #000

        &:hover
            background-color: #000
            color: #fff

    .btn-cancel
        background-color #fff
        border-color: #6c757d
        color: #6c757d

        &:hover
            background-color: #6c757d
            color: #fff