.icon
    padding: 10px
    padding-left: 0
    color: #000

    &:hover
        color #ffd400

button.icon
    background-color: unset;
    border: unset;
    font-size: 12px;
    outline: unset;

.driver-view
    font-size 10px

    .title
        font-weight bold