.table-responsive
    margin-bottom: 25px;
    
table.list-drivers
    font-size: 12px
    width: 90%;
    margin: 0 auto;

.list-navigation
    position: absolute;
    display: block;
    width: 90%;
    right: 5%;
    bottom: 25px;

    .page-link, .page-item.disabled .page-link 
        border: 1px solid #ffd538
        border-color: #ffd538
        color:#000

    .page-item.active .page-link
        background-color: #ffd538
        border-color: #ffd538
        border: 1px solid #ffd538
        color: #000

.not-found
    width: 90%;
    margin: 30px auto;