#form-register
    width: 70%;
    margin: 0 auto;

    button 
        width: 100%;
        background-color: #fff
        border: 1px solid #000
        color: #000

        &:hover
            background-color: #000
            color: #fff

    .validate-error
        display: block
        color: #a90000
        font-size: 10px

.form-group
    input, select 
        border: 1px solid #000

.not-found
    width: 90%;
    margin: 0 auto;