footer
    background: #00469c
    width: 100%
    height: 25px
    position: absolute
    bottom: 0
    font-size: 10px
    left: 0

    p 
        padding: 5px 5px
        margin: unset
        text-align: right
        color: #fff